* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(161, 129, 134);
}

#container, h1 {
    text-align: center;
}

#inputField {
    background-color: rgb(199, 230, 208);
}

paragraph-styling {

}